<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..//static/styles/global.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="..//static/scripts/global.js"></script>
    <title>Form Test</title>

    <style>
        #form {
            background-color: #303030;
            border-radius: var(--border-radius);
            color: var(--text-color);
            padding: 10px;
            margin: 0 auto;
            width: 600px;
        }

        .title {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin: 12px 0px 30px 0px;
        }
    </style>
</head>
<body>
    <form id="form" method="POST" submit-text="Enviar">
        <p class="title">Título</p>
        <div id="inputs">
            <div class="form-group form-input">
                <input type="email" id="email" name="email" class="text-based input" label="Introduce tu email" data-required="true" data-show-validity="true">
            </div>
            <div class="form-group form-input">
                <input type="password" id="password" name="password" class="text-based input password" label="Introduce tu contraseña" data-password-type="fill" data-required="true">
            </div>
            <div class="form-group form-input">
                <input type="text" id="long" name="name" class="text-based input" label="Longer text to test if it's related to the size" data-required="true">
            </div>
            <div class="form-group form-input">
                <input type="text" id="short" name="name" class="text-based input" label="s" data-required="true">
            </div>
            <div class="form-group form-input">
                <input type="text" id="name" name="name" class="text-based input" label="Tu nombre" value="John Doe" data-freeze="true">
            </div>
            <div class="form-group form-input">
                <input type="text" id="empresa" name="empresa" class="text-based input" label="Tu empresa" value="123456789" data-track-changes="true">
            </div>
        </div>
    </form>
</body>
</html>

<script>

    window.addEventListener('FormsCreated', (event) => {
        const form = Form.getForm('form');
        
    });
</script>
