<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="https://iesventura.es/_ies_datos/LOGO_new.jpg">
    <link rel="icon" type="image/x-icon" href="https://iesventura.es/_ies_datos/LOGO_new.jpg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="/scripts/global.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <form id="login-form" action="/login" method="POST">
        <h1 style="text-align: center; margin-bottom: 30px;">Iniciar Sesión</h1>
        <div id="inputs" class="form-container">
            <div class="instance form-input grouped-inputs">
                <div class="form-group form-input">
                    <input type="email" id="email" name="email" class="text-based input" label="Introduce tu email" data-required="true" data-show-validity="true">
                </div>
            </div>
            <div class="instance form-input grouped-inputs">
                <div class="form-group form-input">
                    <input type="password" id="password" name="password" class="text-based input password" label="Introduce tu contraseña" data-required="true">
                </div>
            </div>
        </div>
    </form>
    
    <script src="/scripts/login.js"></script>
</body>
</html>
