<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/global.js" defer></script>
    <title>Login</title>
</head>
<body>
    
    <form id="login-form" action="/login" method="POST">
        <h1 style="text-align: center; margin-bottom: 30px;">Iniciar Sesión</h1>
        <div>
            <div class="form-group form-input email">
                <input type="email" id="email" name="email" class="text-based" label="Introduce tu email" required>
            </div>
            <div class="form-group form-input password">
                <input type="password" autocapitalize="false" spellcheck="false" id="password" name="password" class="text-based password" label="Introduce tu contraseña" required>
            </div>
            <div class="form-group error">
                <p id="error-message">
                    <!-- Error message goes here -->
                </p>
            </div>
            <div class="form-group submit">
                <input type="submit" id="submit" value="Login">
            </div>
        </div>
    </form>
    
    <script src="/scripts/login.js"></script>
</body>
</html>