/* ---------------------------------------------------------------------------- */
/*                                   VARIABLES                                  */
/* ---------------------------------------------------------------------------- */
:root {
    --background-color: #505050;
    --background-color-invisible: #50505000;
    --text-color: #ffffff;
}

#main-content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: 200ms ease-in-out;
}

/* ---------------------------------------------------------------------------- */
/*                                CURSO ACTUAL                                  */
/* ---------------------------------------------------------------------------- */
#curso-actual {
    background-color: #606060;
    border-radius: 15px 15px 0px 0px;
    padding: 15px 15px 0px 15px;
}

.ciclo-info {
    font-size: 1.2rem;
}


/* ---------------------------------------------------------------------------- */
/*                                ALUMNOS SECTION                               */
/* ---------------------------------------------------------------------------- */
#listar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background-color);
    border-radius: 0px;
    padding: 10px 0px;
    gap: 10px 0px;
}

.alumno-item {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    background-color: #606060;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
}

.edit-svg {
    background-color: #ddabdd;
    fill: #000000;
    border-radius: 10px;
    transition: 300ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #b87ab8;
        fill: #ffffff;
    }
}

.delete-svg {
    background-color: #ffbaba;
    fill: #000000;
    border-radius: 10px;
    transition: 300ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #ff7a7a;
        fill: #ffffff;
    }
}

.password-reset-svg {
    background-color: #c0ffba;
    fill: #000000;
    border-radius: 10px;
    transition: 300ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #a8e0a1;
        fill: #ffffff;
    }
}

.svg {
    width: 100%;
    max-height: 35px;
}

.cell-value {
    grid-column: auto / span 3;
}

#asignar {
    background-color: var(--background-color);
    border-radius: 0;
    padding: 10px;
}

/* ---------------------------------------------------------------------------- */
/*                                   SET INFO                                   */
/* ---------------------------------------------------------------------------- */
#set-info {
    background-color: var(--background-color);
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    color: var(--text-color);
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #777777;
    padding: 10px 0px 25px 0px;
    color: var(--text-color);
}


/* ---------------------------------------------------------------------------- */
/*                                     MEDIA                                    */
/* ---------------------------------------------------------------------------- */
@media (max-width: 1199px) {
    #main-content {
        width: 100%;
        margin: 0px;
    }
}

.add-empresa-svg {
    max-width: 25px;
    width: 100%;
    fill: #99ff99;

    &:hover {
        cursor: pointer;
        fill: #66ff66;
    }
}

.empresa-posible {
    background-color: #ff999999;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background-color: #ff9999;

        & .remove-empresa-svg {
            fill: #ffffff;
        }
    }

    & .remove-empresa-svg {
        fill: #000000;
        max-width: 25px;
        height: 100%;
    }
}

#modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #999999;
    border-radius: var(--border-radius);
    padding: var(--border-radius);

    &.active {
        display: block;
        top: 200px;
        left: 200px;
    }

    & p.label.active {
        background-color: #999999;
    }
}
