/* ---------------------------------------------------------------------------- */
/*                                   VARIABLES                                  */
/* ---------------------------------------------------------------------------- */
:root {
    --background-color: #505050;
    --background-color-invisible: #50505000;
    --text-color: #ffffff;
}

/* ---------------------------------------------------------------------------- */
/*                                CURSO ACTUAL                                  */
/* ---------------------------------------------------------------------------- */
#main-content {
    width: 90%;
    margin: 0 auto;
    background-color: #303030;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
}

section {
    width: 100%;
}

#ciclo-lectivo, #grupos-ciclos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#alumnos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 15px;
    gap: 30px;
}

.grupo.nav-link {
    color: var(--text-color);

    &:hover {
        cursor: pointer;

        &:not(.active) {
            background-color: #99ffff33;
        }
    }
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-height);
    min-height: var(--cell-height);
    max-height: var(--cell-height);
    width: 100%;
    border-radius: var(--border-radius);
    background-color: #777777;
    padding: var(--border-radius);
}

.alumno {
    text-align: justify;
}
