/* ---------------------------------------------------------------------------- */
/*                                   VARIABLES                                  */
/* ---------------------------------------------------------------------------- */
:root {
    --background-color: #505050;
    --background-color-invisible: #50505000;
    --text-color: #ffffff;
}

/* ---------------------------------------------------------------------------- */
/*                                CURSO ACTUAL                                  */
/* ---------------------------------------------------------------------------- */
#main-content {
    width: 90%;
    margin: 0 auto;
    background-color: #303030;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
}

.holder {
    width: 100%;
}

#ciclo-lectivo-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid var(--primary-color);

    & .item {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        background-color: #303030;
        border-bottom: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 10px;
        margin-right: 5px;

        &.active {
            color: #303030;
            background-color: var(--primary-color);
        }

        &:hover {
            cursor: pointer;

            &.active {
                background-color: #99ffff33;
            }
        }
    }
}

#grupos {
    background-color: #404040;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: var(--border-radius);
}

#grupos-ciclos-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid var(--secondary-color);

    & > .item {
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        background-color: #404040;
        border-bottom: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 10px;
        margin-right: 5px;

        &.active {
            color: #404040;
            background-color: var(--secondary-color);
        }

        &:hover {
            cursor: pointer;

            &.active {
                background-color: #99ffff33;
            }
        }
    }
}

.item-text {
    margin: 0px;
}

#alumnos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    gap: 30px;
    background-color: #505050;
}

.cell {
    display: flex;
    flex-direction: column;
    height: var(--cell-height);
    min-height: var(--cell-height);
    max-height: var(--cell-height);
    width: 100%;
    border-radius: var(--border-radius);
    background-color: #777777;
    padding: var(--border-radius);

    & * {
        font-size: 1.2rem;
        width: 100%;
        color: var(--text-color);
        text-align: left;
        margin: 0;
    }
}

.alumno-nombre,
.alumno-nia,
.alumno-email {
    font-size: 1rem;
    color: var(--primary-color);
}
