/* ---------------------------------------------------------------------------- */
/*                                   VARIABLES                                  */
/* ---------------------------------------------------------------------------- */
:root {
    --background-color: #505050;
    --background-color-invisible: #50505000;
    --text-color: #ffffff;
}

/* ---------------------------------------------------------------------------- */
/*                                CURSO ACTUAL                                  */
/* ---------------------------------------------------------------------------- */
#main-content {
    width: 90%;
    margin: 0 auto;
    background-color: #303030;
    border-radius: var(--border-radius);
    padding: var(--border-radius);
}

section {
    width: 100%;
}

#ciclo-lectivos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    & > .nav-item {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        background-color: #303030;
        border-bottom: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        &:not(.active) {
            color: #303030;
            background-color: var(--primary-color);
        }

        &:hover {
            cursor: pointer;

            &:not(.active) {
                background-color: #99ffff33;
            }
        }
    }
}

#grupos-ciclos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#alumnos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    gap: 30px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-height);
    min-height: var(--cell-height);
    max-height: var(--cell-height);
    width: 100%;
    border-radius: var(--border-radius);
    background-color: #777777;
    padding: var(--border-radius);
}

.alumno {
    text-align: justify;
}
