table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(2n) {
    background-color: #6d6d6d;
}

tr:hover {
    background-color: #999898;
}

th {
    background-color: #4CAF50;
    color: white;
}
