#logout-section {
    text-align: center;
    margin-top: 20px;
}

.section {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}

.logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: 200ms ease-in-out;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        background-color: color-mix(in srgb, var(--secondary-color), white 20%);
    }
}
