/* ---------------------------------------------------------------------------- */
/*                                   VARIABLES                                  */
/* ---------------------------------------------------------------------------- */
:root {
    --background-color: #505050;
    --background-color-invisible: #50505000;
    --text-color: #ffffff;

    --cell-height: 100px;
}

/* ---------------------------------------------------------------------------- */
/*                                  NAVIGATION                                  */
/* ---------------------------------------------------------------------------- */
#navbar {
    background-color: var(--background-color);
    border-bottom: 1px solid #777777;
    height: 70px;
    margin-bottom: 15px;
}

.navigation.nav {
    padding: 0px 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.navigation.nav-link {
    color: var(--text-color);
    background-color: #99ffff33;
    border-radius: var(--border-radius);
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    transition: 400ms ease-in-out;

    &.active {
        background-color: #99ffff66;
        font-weight: bold;
    }
}

/* ---------------------------------------------------------------------------- */
/*                                CURSO SELECTION                               */
/* ---------------------------------------------------------------------------- */
#curso-selection {
    background-color: #303030;
    width: 95%;
    margin: 0 auto;
    border-radius: 15px 15px 0px 0px;
    padding: 15px 15px 0px 15px;
    gap: 30px;
}

.curso.nav-link {
    color: var(--text-color);

    &:hover {
        cursor: pointer;

        &:not(.active) {
            background-color: #99ffff33;
        }
    }
}


/* ---------------------------------------------------------------------------- */
/*                                ALUMNOS SECTION                               */
/* ---------------------------------------------------------------------------- */
#alumnos-section {
    background-color: #303030;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    gap: 30px;
}

#alumnos-list {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 10px;
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    transition: 300ms ease-in-out;
}

#add {
    margin-bottom: 20px;
    flex-shrink: 0;

    transition: 150ms ease-in-out;

    &.empty {
        margin-bottom: 0px;
        height: 100%;
        min-height: 0px;
        max-height: 99999px;
    }
}

#alumnos-list-container {
    position: relative;
    overflow: hidden;
    height: 100%;

    transition: 150ms ease-in-out;

    &.empty {
        height: 0px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 32px;
        pointer-events: none;
        z-index: 1;
    }

    &::before {
        top: 0;
        background: linear-gradient(
            to bottom,
            var(--background-color) 0%,
            var(--background-color-invisible) 100%
        );
    }

    &::after {
        bottom: 0;
        background: linear-gradient(
            to top,
            var(--background-color) 0%,
            var(--background-color-invisible) 100%
        );
    }
}

#alumnos-list-scroll {
    flex: 1 1 auto;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-height);
    min-height: var(--cell-height);
    max-height: var(--cell-height);
    width: 100%;
    border-radius: var(--border-radius);
    background-color: #777777;
    padding: var(--border-radius);

    &:hover {
        cursor: pointer;
    }
}

.alumno {
    text-align: justify;
}

/* ---------------------------------------------------------------------------- */
/*                                   SET INFO                                   */
/* ---------------------------------------------------------------------------- */
#set-info {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#titulo {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #777777;
    padding: 10px 0px 25px 0px;
    color: var(--text-color);
}

.form-group {
    width: 100%;
}

.grouped-inputs {
    display: flex;
    gap: 25px;
}

.instance {
    flex: 1 1 auto;
    padding: 2px 5px;
    margin: 15px auto 15px auto;
}


/* ---------------------------------------------------------------------------- */
/*                                     MEDIA                                    */
/* ---------------------------------------------------------------------------- */
@media (max-width: 1199px) {
    #alumnos-list {
        width: 200px;
    }
}

@media (max-width: 799px) {
    #curso-selection {
        width: 100%;
        margin: 0px;
        padding: 15px 0px 0px 0px;
        border-radius: 0px;
    }

    #cursos {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .curso.nav-item {
        flex: 0 0 auto;
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    #alumnos-section {
        flex-direction: column;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        padding: 15px 0px 0px 0px;
    }

    #alumnos-list {
        width: 100%;
        height: 50px;
        flex-direction: row;
        border-radius: 0px;
    }

    #add {
        margin-bottom: 0px;
        margin-right: 20px;
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;

        &.empty {
            margin-right: 0px;
            width: 100%;
            min-width: 0px;
            max-width: 99999px;
        }
    }

    #svg-add {
        width: 20px;
        height: 20px;
    }

    #alumnos-list-container {
        height: 100%;
        width: 100%;

        &.empty {
            width: 0px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 30px;
            height: 100%;
            pointer-events: none;
            z-index: 1;
        }

        &::before {
            left: 0;
            background: linear-gradient(
                to right,
                var(--background-color) 0%,
                var(--background-color-invisible) 100%
            );
        }

        &::after {
            left: auto;
            right: 0;
            background: linear-gradient(
                to left,
                var(--background-color) 0%,
                var(--background-color-invisible) 100%
            );
        }
    }

    #alumnos-list-scroll {
        height: 100%;
        max-width: 100%;
        overflow-x: auto;
        flex-direction: row;
    }

    .cell {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
        width: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    .alumno {
        font-size: 10px;
    }

    .grouped-inputs {
        padding: 0px;
        gap: 15px;
        flex-direction: column;
    }

    .instance {
        margin: 15px 0px;
    }
}
